<ion-header>
  <ion-toolbar>
    <ion-title>DetailContact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="contact">
  
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button >
    <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
    <ion-fab-button (click)="Appel()">
    
    <ion-icon name="call"></ion-icon>
    
    </ion-fab-button>
    <ion-fab-button (click)="Email()">
    
    <ion-icon name="at"></ion-icon>

    
    
    </ion-fab-button>
    <ion-fab-button (click)="Sharing()">
    <ion-icon name="pin"></ion-icon>
    
    </ion-fab-button>

    <ion-fab-button (click)="GPS()">
      <ion-icon name="navigate-outline"></ion-icon>      
      </ion-fab-button>
    </ion-fab-list>
    </ion-fab>
    
  <ion-item>
    <ion-thumbnail slot="start" class="prof">
      <ion-img src={{contact.src}} ></ion-img>
      </ion-thumbnail> 
<br>
<br><br>
  <ion-label>Nom</ion-label>
  <ion-input type="text"  disabled="true"> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{contact.nom}}</ion-input>
  </ion-item>
  
  <ion-item>
 &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <ion-label>Prenom</ion-label>
  <ion-input type="text"  disabled="true"> &nbsp; &nbsp;&nbsp; {{contact.prenom}}</ion-input>
  </ion-item>
  <ion-item>
    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <ion-label>Email</ion-label>
  <ion-input type="email" disabled="true">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{contact.email}}</ion-input>
  </ion-item>
  <ion-item>
    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <ion-label>Téléphone</ion-label>
  <ion-input type="Tel"  disabled="true">&nbsp; &nbsp;&nbsp; {{contact.tel}}</ion-input>
  </ion-item>
  <ion-item>
    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <ion-label>Adresse</ion-label>
  <ion-input type="text"  disabled="true">&nbsp; &nbsp;&nbsp; {{contact.adresse}}</ion-input>
  </ion-item>
  <ion-item>
    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <ion-label>Ville</ion-label>
  <ion-input type="text"  disabled="true">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{contact.city}}</ion-input>
  </ion-item>
  <ion-item>
    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <ion-label>Service</ion-label>
  <ion-input type="text" disabled="true">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; {{contact.service}}</ion-input>
  </ion-item>
 
  <div class="yourCssClass" *ngIf="this.isButtonsVisible" >
    <ion-button expand="block" fill="outline" (click)="Supprimer()">Supprimer</ion-button>
    <ion-button expand="block" fill="outline" (click)="Partager()">Partager</ion-button>


    </div>
    
   

  </ion-content>