
	<ion-header> 
    <ion-toolbar> 
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title>Inscription</ion-title> 
    </ion-toolbar> 
</ion-header> 

<ion-content padding class="background"> 
  <ion-title class="titleinsc"><b>Inscription</b></ion-title>
  <br>
  <br>


  <br>
  <br>
  <br>
  <br>
 


  <form class="form"[formGroup]="inscriptionForm" (ngSubmit)="singUp()">
  <ion-item>
    <ion-label> <b>Nom </b></ion-label>
    <ion-input style="" type="text" formControlName='nom'></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label> <b>Prénom </b></ion-label>
    <ion-input type="text" formControlName="prenom"></ion-input>
  </ion-item>
  <br>

  <ion-item>
    <ion-label><b>Email </b></ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>
  <br>

  <ion-item>
    <ion-label><b>Tel </b></ion-label>
    <ion-input type="Tel" formControlName="tel"></ion-input>
  </ion-item>
  <br>

  <ion-item>
    <ion-label ><b> Password </b></ion-label>
    <ion-input type="Password" formControlName="password"></ion-input>
  </ion-item>
  <br>

  <ion-button  expand="block" fill="outline" type="submit" style="background-color: #968c85; border-color: #302d3f;">Envoyer</ion-button>
</form>
</ion-content> 
