<ion-row class="ion-text-center align-items-center">
  <ion-col size="12">
    <ion-text><h4>UPDATE RECORD</h4></ion-text>
  </ion-col>
  <ion-col size="1">
    <ion-select [(ngModel)]="type" placeholder="">
      <ion-select-option type="hidden"value="income">Income</ion-select-option>
      <ion-select-option value="expense">Expense</ion-select-option>
    </ion-select>
  </ion-col>
  <ion-col size="8">
    <ion-item>
      <ion-input [(ngModel)]="description" placeholder="Description"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="10" offset="1">
    <ion-item>
      <ion-input [(ngModel)]="amount" placeholder="Title"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="10" offset="1">
    <ion-button expand="block" color="success" (click)="UpdateRecord(type, description, amount)">Update</ion-button>
  </ion-col>
  <ion-col size="10" offset="1">
    <ion-button expand="block" color="danger" (click)="CloseModal()">Cancel</ion-button>
  </ion-col>
</ion-row>  
<ion-row>    