<ion-header>
  <ion-toolbar>
    <ion-title>Deconnexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <br>
  <br>
  <br>
  <br>

  &nbsp;   &nbsp;  &nbsp;  &nbsp;<h3>  &nbsp;  &nbsp;  &nbsp;  &nbsp; <b>Êtes-vous sûrs de vous déconnecter ? </b></h3>
  <br>
  <br>
  <ion-button  style="background-color: #f3f2f7; border:none; border-color: #cecdd1;width: 30%;margin-left: 35%;" expand="block" fill="outline" (click)="singOut()"> <b>Se Déconnecter </b></ion-button>

</ion-content>
