<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Deconnexion</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <ion-button  style="background-color: #b69d95; border:none; border-color: #cecdd1;width: 50%;margin-left: 25%; margin-top: 66%;" expand="block" fill="outline" (click)="singOut()"> <b>Se Déconnecter </b></ion-button>

</ion-content>
